<template>
  <div class="root">
    <div class="root__titles">
      <img
        class="root__logo"
        alt="Housemetry logo"
        src="./assets/housemetry.png"
      />
      <h1>Повышаем привлекательность недвижимости</h1>
      <h2>Проект команды Snedson</h2>
    </div>
    <a class="root__download-button" href="/download">
      <img class="root__download-icon" src="./assets/rustore.png" />
    </a>
  </div>
</template>

<script></script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #1c6c30;
  height: 100%;
  display: flex;
  font-display: column;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-family: "Unbounded";
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

.root {
  display: flex;
  width: auto;
  max-width: 450px;
  padding: 0 10px;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  gap: 50px;

  &__logo {
    max-width: 450px;
    width: 90%;
  }

  & h1 {
    margin-top: 100px;
    margin-bottom: 20px;
  }
}
</style>
